PORT=5000
NODE_ENV=production
MONGODB_URI=mongodb+srv://user:pass@cluster.mongodb.net/db
JWT_SECRET=your_jwt_secret
CLOUDINARY_CLOUD_NAME=your_name
CLOUDINARY_API_KEY=your_key
CLOUDINARY_API_SECRET=your_secret
REPLICATE_API_TOKEN=r8_token
LUMA_API_KEY=luma_key
CSM_API_KEY=csm_key
GROQ_API_KEY=gsk_key
HF_TOKEN=hf_token
STRIPE_SECRET_KEY=sk_key
STRIPE_WEBHOOK_SECRET=whsec_key
STRIPE_BASIC_PRICE_ID=price_basic
STRIPE_PRO_PRICE_ID=price_pro
STRIPE_AGENCY_PRICE_ID=price_agency
